<header>
    <nav class="navbar navbar-expand-sm">
        <div class="container">
            <a href="/" class="navbar-brand fs-6">Página Inicial</a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a href="/nova-lista" class="nav-link ms-1">Nova Lista</a>
                    <br>
                    <button type="button" class="btn btn-primary btn-sm ms-2" id="btnTheme"></button>
                </div>
            </div>
        </div>
    </nav>
</header>